<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="folder">
    <strong class="minTit">폴더</strong>
    <ul>
        <li class="AllList">
            <a onclick="folderAllList()">
                <img src="/images/icon_folder.png" alt="아이콘">
                전체목록(
                <th:block th:if="${param.folderCode == null}"><!-- 전체목록조회일때 -->
                    <span th:if="${#strings.equals(param.memberCode, #strings.toString(#authentication.principal.memberCode))}"
                          th:text="${totalCount.count}">56</span>
                    <span th:if="${!#strings.equals(param.memberCode, #strings.toString(#authentication.principal.memberCode))}"
                          th:text="${totalCount.count}"></span>
                </th:block>
                <th:block th:if="${param.folderCode != null}"><!-- 폴더조회일때 -->
                    <span th:if="${#strings.equals(param.memberCode, #strings.toString(#authentication.principal.memberCode))}"
                          th:text="${totalAllCount.count}">56</span>
                    <span th:if="${!#strings.equals(param.memberCode, #strings.toString(#authentication.principal.memberCode))}"
                          th:text="${totalAllCount.count}"></span>
                </th:block>
                )
            </a>
        </li>
        <th:block th:each="folder : ${folderList}">
            <li th:classappend="${folder.folderName == 'NoName'} ? 'hidden'" draggable="true">
                <a th:href="@{'/post/folder_list'(memberCode=${folder.fMemberCode}, folderCode=${folder.folderCode})}">
                    <input type="hidden" th:value="${folder.folderCode}"/>
                    <img th:src="${folder.folderIconPath}" alt="폴더 아이콘">
                    <span th:text="${folder.folderName}"></span>
                </a>
            </li>
        </th:block>
    </ul>
    <button th:if="${#strings.equals(param.memberCode, #strings.toString(#authentication.principal.memberCode))}"
            class="folderSetBtn" th:onclick="'location.href=\'/post/folder_edit?memberCode=' + memberCode + '\''">
        <img src="/images/icon_folder_setting.png" alt="폴더 편집 버튼">
    </button>
</div>
<script>
    function folderAllList() {
        const urlParams = new URLSearchParams(window.location.search);
        const memberCode = urlParams.get('memberCode');

        location.href = "/post/list?memberCode=" + memberCode;
    }
</script>
</html>