<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<nav>
    <ul class="rnb">
        <li>
            <button id="homeBtn">홈</button>
        </li>
        <li>
            <button id="memberInfoBtn">회원 정보</button>
        </li>
        <li>
            <button id="paymentBtn">결제 관리</button>
        </li>
        <li>
            <button id="blockListBtn">차단 목록</button>
        </li>
        <li>
            <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                <button id="adminListBtn">관리기록 조회</button>
            </th:block>
        </li>
        <li>
            <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                <button id="reportListBtn">신고목록 조회</button>
            </th:block>
        </li>
        <li>
            <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                <button id="memberListBtn">회원정보 검색</button>
            </th:block>
        </li>
<!--        <li>-->
<!--            <button id="testHubBtn">test:테스트허브로 이동</button>-->
<!--        </li>-->
        <li class="logoutBtn">
            <button id="logoutBtn">로그아웃</button>
        </li>
    </ul>
</nav>
</html>