<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>userdetailstest</title>
</head>
<body>
<h1>유저 디테일 정보 조회</h1>
<span th:text="${member.memberCode}"></span>
<span th:text="${member.memberId}"></span>
<span th:text="${member.memberPwd}"></span>
<span th:text="${member.memberGender}"></span>
<span th:text="${member.memberAge}"></span>
<span th:text="${member.memberBirth}"></span>
<span th:text="${member.memberSubDate}"></span>
<span th:text="${member.memberStatus}"></span>
<span th:text="${member.haveTissue}"></span>
</body>
</html>