<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DecList 신고 목록 조회</title>
    <link href="decList.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div id="title"> 신고목록 </div>
    <div id="decCate"> 신고 유형</div>
        <ul>
            <li> 댓글 </li>
            <li> 포스팅 </li>
        </ul>
    <div id="listContent">신고 내역</div>
    <table>
        <th></th>
    </table>
    <div id="pageView">1 | 2 | 3 | ... | 10 </div>
    <div id="search"> 검색바 </div>

</div>

</body>
</html>