<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manager 01</title>
    <!-- 관리자 메뉴 보기 -->
    <link href="manager01.css" rel="stylesheet" type="text/css">
    <!--    <script>-->
    <!--        const message = `[[${{관리자님, 환영합니다}}]]'`-->
    <!--    </script>-->

    <!--button onclick="location.href='/layout/layout0-3'">레이아웃0-3</button-->
</head>
<body>
<div class="blog-folder">
    <button> 설정 </button>
   <ul> 전체 폴더 보기 </ul>
    <li> 폴더 1 </li>
    <li> 폴더 2 </li>
    <li> 폴더 3 </li>
    <li> 폴더 4 </li>
    <li> 폴더 5 </li>
    <li> 폴더 6 </li>
    <li> 폴더 7 </li>
    <li> 폴더 8 </li>
    <li> 폴더 9 </li>
    <li> 폴더 10 </li>

</div>

<div class="timeLine">


</div>


</body>
</html>