<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>layout0-4</title>
    <link rel="stylesheet" href="layout0-4.css">
</head>
<body>
<ul class="btns">
    <li><button>고정글</button></li>
    <li><button>최신순</button></li>
    <li><button>♡</button></li>
    <li><button id="etc">etc</button></li>
</ul>
<ul class="contents">
    <li>
        <div class="head">
            <div class="container">
                <!--<img src="" alt="프로필사진">-->
                <div class="dummyIcon big"></div>
                <strong>닉네임</strong>
                <span>생일</span>
                <span>상태메세지</span>
            </div>
            <button><img src="" alt="옵션버튼"></button>
        </div>
        <div class="body">
            <strong>글제목</strong>
            <p>본문</p>
            <div>
                <!--<img src="" alt="댓글아이콘">-->
                <div class="dummyIcon small"></div>
                <span>댓글숫자</span>
            </div>
            <div>
                <!--<img src="" alt="좋아요아이콘">-->
                <div class="dummyIcon small"></div>
                <span>좋아요숫자</span>
            </div>
        </div>
    </li>
</ul>
</body>
</html>