* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;
}


body {
    background-color: #F1E3C8;
}

.btns{
    font-size: 0;
    width: 600px;
    height: 45px;
    display: flex;
    margin: auto;
}

.btns li {
    display: inline-block;
}
.btns button {

    width: 176.67px;
    height: 45px;
}
.btns #etc {
    width: 70px;
}

.contents {
    display: inline-block;
}
.head{
    width: 600px;
    height: 87px;
}
.head img{
    width: 40px;
    height: 40px;
}
.head .container {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 401px;
    display: flex;
}
.head strong{
    width: 45px;
    height: 19px;
}
.container span:nth-child(3) {
    width: 74px;
    height: 18px;
}.container span:nth-child(4) {
    width: 270px;
    height: 18px;
}

/*더미아이콘설정*/
.dummyIcon{
    background-color: black;
}
.big{
    width: 40px;
    height: 40px;
}
.small{
    width: 25px;
    height: 25px;
}


