<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temporary Storage List Page</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/post.css">
    <script>
        document.querySelector(".editBtn").addEventListener("click", function () {
            document.querySelectorAll(".tbl_check").forEach(check => {
                check.classList.toggle("table-cell");
            })
        })
    </script>
</head>
<body>
<div class="wrap">
    <header>
        <div th:replace="~{common/profile.html}"></div>
        <nav th:replace="~{common/navigation.html}"></nav>
    </header>
    <!--    <aside>-->
    <!--        <div th:replace="~{common/folder.html}"></div>-->
    <!--    </aside>-->
    <main>
        <div class="title">
            <button class="backBtn"><img src="/images/btn_arrow.png" alt="뒤로가기 버튼"></button>
            <div>
                <h1>임시저장 목록</h1>
            </div>
            <input class="search_input" type="text" placeholder="검색어를 입력하세요">
            <button class="searchBtn"><img src="/images/btn_search.png" alt="검색 버튼"></button>
            <button class="closeBtn"><img src="/images/btn_close.png" alt="닫기 버튼"></button>
            <div class="btnWrap active">
                <button class="btn gray editBtn">편집하기</button>
            </div>
            <div class="btnWrap">
                <button class="btn gray">전체 삭제</button>
                <button class="btn gray">선택 삭제</button>
                <button class="btn">완료</button>
            </div>
        </div>
        <section> <!-- 각자 개인 페이지들을 section 태그 안에 작성하세요. -->

            <h2>임시저장 된 글 수 (<span th:text="${totalCount.count}">26</span>)</h2>
            <table class="tbl_list">
                <tr>
                    <th class="tbl_check"></th>
                    <th class="tbl_tit">제목</th>
                    <th class="tbl_date">작성일</th>
                </tr>
                <tr th:each="postAll : ${postAllList}"
                    th:onclick="'location.href=\'/post/write?memberCode='+${memberCode}+'&postCode=' + ${postAll.postCode} + '\''">
                    <td class="tbl_check"><input type="checkbox" th:value="${postAll.postCode}" name="postDraftCheck"
                                                 id=""></td>
                    <td class="tbl_tit" th:text="${postAll.postTitle}">
                        <div>집에서 쉽게 만들수 있는 강아지 수제간식 만들기! 오리 가슴살 동결건조로 단 8시간만에 수제간식을 만들 수 있다!</div>
                    </td>
                    <td class="tbl_date" th:text="${#temporals.format(postAll.postWriDate, 'yyyy.MM.dd')}">2020.05.10
                    </td>
                </tr>
            </table>

            <div id="paging" class="paging">
                <!-- 맨 앞으로 이동 -->
                <button class="pagingFrontBtn arrowBtn"
                        th:onclick="'location.href=\'/post/list?memberCode='+${memberCode}+'&page=1\''">
                    <img src="/images/icon_paging_arrow_front.png" alt="맨 앞으로 이동 버튼">
                </button>
                <!-- 이전 페이지로 이동 -->
                <button class="pagingFrontBtn arrowBtn"
                        th:onclick="'location.href=\'/post/list?memberCode='+${memberCode}+'&page=' + @{${paging.page - 1}} + '\''"
                        th:disabled="${ paging.page <= 1 }">
                    <img src="/images/icon_paging_arrow_front.png" alt="이전 목록으로 이동 버튼">
                </button>

                <!-- 숫자 버튼 -->
                <th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
                    <button class="pagingNumBtn"
                            th:onclick="'location.href=\'/post/list?memberCode='+${memberCode}+'&page=' + @{${page}} + '\''"
                            th:text="${ page }" th:disabled="${ paging.page eq page }"></button>
                </th:block>

                <!-- 다음 페이지로 이동 -->
                <button class="pagingBackBtn arrowBtn"
                        th:onclick="'location.href=\'/post/list?memberCode='+${memberCode}+'&page=' + @{${paging.page + 1}} + '\''"
                        th:disabled="${ paging.page >= paging.maxPage }">
                    <img src="/images/icon_paging_arrow_back.png" alt="다음 목록으로 이동 버튼">
                </button>
                <!-- 맨 끝으로 이동 -->
                <button class="pagingBackBtn arrowBtn"
                        th:onclick="'location.href=\'/post/list?memberCode='+${memberCode}+'&page=' + @{${paging.maxPage}} + '\''">
                    <img src="/images/icon_paging_arrow_back.png" alt="맨 뒤로 이동 버튼">
                </button>
            </div>
        </section>
    </main>
</div>
<script src="/js/pathFinder.js"></script>
</body>
</html>