<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com._3dhs.tnproject.member.dao.MemberMapper">
    <resultMap id="memberWithProfileMap" type="com._3dhs.tnproject.member.dto.MemberDTO">
        <id property="memberCode" column="member_code"/>
        <result property="memberId" column="member_id"/>
        <result property="memberPwd" column="member_pwd"/>
        <result property="memberGender" column="member_gender"/>
        <result property="memberAge" column="member_age"/>
        <result property="memberBirth" column="member_birth"/>
        <result property="memberSubDate" column="member_subdate"/>
        <result property="memberStatus" column="member_status"/>
        <result property="haveTissue" column="have_tissue"/>
        <result property="memberAuthority" column="member_authority"/>
        <result property="dormantTransDate" column="dormant_trans_date"/>
        <result property="suspendTransDate" column="suspend_trans_date"/>
        <result property="deleteTransDate" column="delete_trans_date"/>
        <result property="isDeleted" column="is_deleted"/>

        <association property="profile" resultMap="profileMap"/>
    </resultMap>
    <resultMap id="profileMap" type="com._3dhs.tnproject.member.dto.ProfileDTO">
        <id property="memberCode" column="pr_member_code"/>
        <result property="profileCode" column="profile_code"/>
        <result property="profileNickname" column="profile_nickname"/>
        <result property="profileStatmsg" column="profile_statmsg"/>
        <result property="profileBgPath" column="profile_bg_path"/>
        <result property="profileImgPath" column="profile_img_path"/>
        <result property="memberBirth" column="member_birth"/>
    </resultMap>
    <select id="findByMemberId" resultMap="memberWithProfileMap">
        SELECT
            m.member_code,
            m.member_id,
            m.member_pwd,
            m.member_gender,
            m.member_age,
            m.member_birth,
            m.member_subdate,
            m.member_status,
            m.have_tissue,
            m.member_authority,
            m.dormant_trans_date,
            m.suspend_trans_date,
            m.delete_trans_date,
            m.is_deleted,
            p.pr_member_code,
            p.pr_member_code,
            p.profile_code,
            p.profile_nickname,
            p.profile_statmsg,
            p.profile_img_path,
            p.profile_bg_path
        FROM
            tbl_member m
        JOIN tbl_profile p ON m.member_code = p.pr_member_code
        <where>
            <if test="memberId != null">
                AND m.member_id = #{memberId}
            </if>
        </where>
    </select>

    <select id="selectMemberById" resultType="string">
        SELECT
        member_id
        FROM
        tbl_member
        <where>
            <if test="memberId != null">
                AND member_id = #{memberId}
            </if>
        </where>
    </select>

    <insert id="insertMember">
        INSERT INTO
            tbl_member (member_id, member_pwd, member_age, member_birth)
        VALUES
            (#{memberId}, #{memberPwd}, #{memberAge}, #{memberBirth})
    </insert>
    <insert id="insertProfile">
        INSERT INTO tbl_profile (pr_member_code, profile_nickname)
        VALUES (LAST_INSERT_ID(), #{memberId})
    </insert>




    <update id="updateTissue">
        UPDATE
            tbl_member
        SET
            have_tissue = #{nTissue}
        WHERE
            member_id = #{memberId}

    </update>


    <update id="updateMember">
        UPDATE
            tbl_member
        SET
           member_gender = #{ memberGender },
           member_age = #{ memberAge },
           member_birth = #{ memberBirth }
        <where>
            <if test="memberCode != null">
                member_code = #{ memberCode }
            </if>
        </where>
    </update>

    <update id="deleteMember">
        UPDATE
            tbl_member
        SET
            member_status = #{ memberStatus },
            delete_trans_date = now(),
            is_deleted = #{ isDeleted }
        <where>
            <if test="memberCode != null">
                member_code = #{ memberCode }
            </if>
        </where>
    </update>

    <update id="updatePwd">
        UPDATE
            tbl_member
        SET
            member_pwd = #{ memberPwd }
        <where>
            <if test="memberId != null">
                member_Id = #{ memberId }
            </if>
        </where>
    </update>


    <select id="findMainBlogMemberInfo" resultMap="memberWithProfileMap">
        SELECT
            m.member_subdate,
            p.profile_nickname,
            p.profile_statmsg,
            p.profile_img_path,
            p.profile_bg_path
        FROM
            tbl_member m
        JOIN
            tbl_profile p ON (m.member_code = p.pr_member_code)
        WHERE
            m.member_code = #{memberCode}
    </select>
    
    <update id="updateProfile">
        UPDATE
            tbl_profile
        SET
            profile_nickname = #{ profile.profileNickname },
            profile_statmsg = #{ profile.profileStatmsg },
            profile_img_path = #{ profile.profileImgPath },
            profile_bg_path = #{ profile.profileBgPath }
        <where>
            <if test="memberCode != 0">
                pr_member_code = #{ memberCode }
            </if>
        </where>
    </update>

</mapper>