<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com._3dhs.tnproject.payment.dao.PaymentMapper">

    <resultMap id="paymentMap" type="com._3dhs.tnproject.payment.dto.PaymentDTO">
        <id property="orderCode" column="order_code"/>
    </resultMap>

    <insert id="insertPayment" parameterType="com._3dhs.tnproject.payment.dto.PaymentDTO">
        INSERT INTO
            tbl_tissue (imp_uid, merchant_uid, order_class, order_date, tissue_price, t_member_code, post_code)
        VALUES
            ( #{impUid}, #{merchantUid}, #{orderClass}, #{orderDate}, #{tissuePrice}, #{tMemberCode}, #{postCode})
    </insert>




</mapper>