<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com._3dhs.tnproject.post.dao.PostMapper">
    <resultMap id="profileMap" type="com._3dhs.tnproject.member.dto.ProfileDTO">
        <id property="memberCode" column="pr_member_code"/>
        <result property="profileCode" column="profile_code"/>
        <result property="profileNickname" column="profile_nickname"/>
        <result property="profileStatmsg" column="profile_statmsg"/>
        <result property="profileBgPath" column="profile_bg_path"/>
        <result property="profileImgPath" column="profile_img_path"/>
    </resultMap>
    <resultMap id="likeListMap" type="com._3dhs.tnproject.post.dto.LikeListDTO">
        <id property="postCode" column="post_code"/>
        <result property="memberCode" column="l_member_code"/>
        <result property="isPrivate" column="is_private"/>
    </resultMap>
    <resultMap id="postMap" type="com._3dhs.tnproject.post.dto.PostDTO">
        <id property="postCode" column="post_code"/>
        <result property="postTitle" column="post_title"/>
        <result property="postText" column="post_text"/>
        <result property="postState" column="post_state"/>
        <result property="postPrice" column="post_price"/>
        <result property="postWriDate" column="post_wri_date"/>
        <result property="postView" column="post_view"/>
        <result property="memberCode" column="po_member_code"/>
        <result property="postModDate" column="post_mod_date"/>
        <result property="postDeleDate" column="post_dele_date"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="folderCode" column="folder_code"/>
        <association property="profile" resultMap="profileMap"/>
    </resultMap>

    <select id="findListWithLike" resultMap="postMap">
        SELECT po.post_code,
               po.post_title,
               po.post_text,
               po.post_status,
               po.post_price,
               po.post_wri_date,
               po.post_view,
               po.po_member_code,
               po.post_mod_date,
               po.folder_code,
               pr.pr_member_code,
               pr.profile_code,
               pr.profile_nickname,
               pr.profile_statmsg,
               pr.profile_img_path,
               pr.profile_bg_path
        FROM tbl_post po
                 JOIN
             tbl_profile pr ON (po.po_member_code = pr.pr_member_code)
                 INNER JOIN
             tbl_like_list li ON (li.post_code = po.post_code)
        WHERE po.post_status = 'PUBLIC'
          AND po.post_is_deleted = false
        ORDER BY po.post_code
    </select>

    <select id="findLikeListByCode" parameterType="int" resultMap="likeListMap">
        SELECT
            post_code,
            l_member_code,
            is_private
        FROM
            tbl_like_list
        WHERE post_code = #{postCode}
    </select>
    <select id="findLikeCountByCode" parameterType="int">
        SELECT
            COUNT(*)
        FROM tbl_like_list
        WHERE post_code = #{postCode}
    </select>
</mapper>