<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com._3dhs.tnproject.purchase.dao.PurchaseMapper">

    <resultMap id="purchaseMap" type="com._3dhs.tnproject.purchase.dto.PurchaseDTO">
        <id property="orderCode" column="order_code"/>
    </resultMap>


    <select id="purchaseCount" parameterType="map" resultType="int">
        SELECT
            COUNT(*)
        FROM
            tbl_tissue
        WHERE
            t_member_code = #{memberCode}
        AND
            post_code = #{postCode}
    </select>

    <select id="getPostPrice" resultType="int" parameterType="int">
        SELECT
            post_price
        FROM
            tbl_post
        WHERE
            post_code = #{postCode}
    </select>

    <insert id="insertPurchase" parameterType="com._3dhs.tnproject.purchase.dto.PurchaseDTO">
        INSERT INTO
            tbl_tissue (order_class, order_date, tissue_price, t_member_code, post_code)
        VALUES
            (#{orderClass}, #{orderDate}, #{tissuePrice}, #{tMemberCode}, #{postCode})
    </insert>

<!--    <insert id="selectPurchaseList" parameterType="com._3dhs.tnproject.purchase.dto.PurchaseDTO">-->

<!--    </insert>-->

<!--    <insert id="selectPurchaseList" parameterType="com._3dhs.tnproject.payment.dto.PaymentDTO">-->

<!--    </insert>-->

</mapper>