<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com._3dhs.tnproject.manager.dao.ReportMapper">

<!--    <select id="viewAllReport" resultType="com._3dhs.tnproject.manager.dto.ReportDTO">-->
<!--        SELECT-->
<!--            report_code,-->
<!--            r_category_code,-->
<!--            report_text,-->
<!--            sub_member_code,-->
<!--            report_date,-->
<!--            manager_code,-->
<!--            reporter_code-->
<!--        FROM-->
<!--            tbl_report-->
<!--        ORDER BY-->
<!--            report_code-->
<!--    </select>-->


<!--    <select id="viewAllReport" resultType="com._3dhs.tnproject.manager.dto.ReportDTO">&ndash;&gt;-->
<!--        SELECT-->
<!--            tbl_report.report_code,-->
<!--            tbl_report.r_category_code,-->
<!--            tbl_report.report_text,-->
<!--            tbl_report.manager_code,-->
<!--            tbl_report.report_text,-->
<!--            tbl_member.member_code,-->
<!--            tbl_member.report-->
<!--                tbl_report left join tbl_member on tbl_report.report_code = tbl_member.member_id-->
<!--            ORDER by tbl_report.report_code asc-->
<!--    </select>-->


    <select id="viewAllReport" resultType="com._3dhs.tnproject.manager.dto.ReportDTO">
        SELECT r.report_code,
               c.r_category_name,
               r.report_text,
               r.target_code,
               m.member_code,
               m.member_id,
               r.report_date

        FROM tbl_report r
                 JOIN tbl_member m ON r.target_code = m.member_code
                 JOIN tbl_r_category c ON c.r_category_code = r.r_category_code
    </select>



    <select id="viewOneReport" resultType="com._3dhs.tnproject.manager.dto.ReportDTO">
        SELECT
            report_code,
            r_category_code,
            report_text,
            report_date,
            report_status,
            processing_date,
            processing_text,
            target_code,
            manager_code,
            reporter_code,
            report_content,
            post_code,
            cmt_code
        FROM
            tbl_report
        WHERE
            report_code = #{ reportCode }
    </select>

    <update id="insertRecord" >
        UPDATE
            tbl_report
        SET
            processing_text = #{ processingText }
        WHERE
            report_code = #{ reportCode }
    </update>


    <select id="viewAllAdmList" resultType="com._3dhs.tnproject.manager.dto.ReportDTO">
        SELECT
            report_code,
            manager_code,
            report_text,
            report_date,
            processing_text,
            processing_date
        FROM
            tbl_report
    </select>

    <select id="viewOneAdmReport" resultType="com._3dhs.tnproject.manager.dto.ReportDTO">
        SELECT
            report_code,
            manager_code,
            report_text,
            report_date,
            processing_text,
            processing_date
        FROM
            tbl_report

        WHERE report_code = #{ reportCode }

    </select>


    <select id="checkAllMember" resultType="com._3dhs.tnproject.member.dto.MemberDTO">
        SELECT
            member_code,
            member_id,
            member_birth,
            member_status,
            member_Authority,
            is_deleted

        FROM tbl_member


    </select>

    <select id="checkOneMember" resultType="com._3dhs.tnproject.member.dto.MemberDTO">
        SELECT
            member_code,
            member_id,
            member_birth,
            member_status,
            member_Authority,
            is_deleted

        FROM tbl_member

        WHERE member_code = #{ memberCode }
    </select>
</mapper>