<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com._3dhs.tnproject.manager.dao.ReportMapper">

    <select id="selectTotalCount" resultType="_int" parameterType = "hashMap">
        SELECT
            COUNT(*)
        FROM
            tbl_report r
    </select>

    <select id="selectReportList" resultType="com._3dhs.tnproject.manager.dto.ReportDTO">
        SELECT r.report_code,
               c.r_category_name,
               substring(r.report_text ,10) report_text,
               r.target_code,
               m.member_code,
               m.member_id,
               r.report_content
        FROM tbl_report r
                 JOIN tbl_member m ON r.target_code = m.member_code
                 JOIN tbl_r_category c ON c.r_category_code = r.r_category_code
        ORDER BY
            r.report_code DESC
            LIMIT #{offset}, #{limit}
    </select>


    <select id="selectReportDetail" resultType="com._3dhs.tnproject.manager.dto.ReportDTO">
        SELECT
            r.report_code,
            c.r_category_name,
            r.report_text,
            r.report_status,
            r.report_content,
            m.member_id,
            r.report_date,
            r.post_code,
            r.cmt_code
        FROM
            tbl_report r
                JOIN tbl_member m ON r.target_code = m.member_code
                JOIN tbl_r_category c ON c.r_category_code = r.r_category_code
        WHERE
            report_code = #{ reportCode }
    </select>




    <update id="updateReport" >
        UPDATE
            tbl_report
        SET
            processing_text = #{ processingText }
        WHERE
            report_code = #{ reportCode }
    </update>

    <update id="memberStop">
        update
           tbl_member
        SET
            member_status = #{ memberStatus }
        WHERE
            member_id = #{ memberId }
    </update>


    <select id="selectAdminList" resultType="com._3dhs.tnproject.manager.dto.ReportDTO">
        SELECT
            report_code,
            manager_code,
            substring(report_text ,10) report_text,
            report_date,
            processing_text,
            processing_date

        FROM
            tbl_report

        ORDER BY
            report_code DESC
            LIMIT #{offset}, #{limit}
    </select>

    <select id="selectAdminDetail" resultType="com._3dhs.tnproject.manager.dto.ReportDTO">
        SELECT
            r.report_code,
            r.manager_code,
            c.r_category_name,
            r.report_text,
            r.report_date,
            m.member_id,
            r.report_status,
            r.processing_date,
            r.processing_text

        FROM
            tbl_report r
                JOIN tbl_member m ON r.target_code = m.member_code
                JOIN  tbl_r_category c ON c.r_category_code = r.r_category_code

        WHERE report_code = #{ reportCode }

    </select>


    <select id="selectMemberList" resultType="com._3dhs.tnproject.member.dto.MemberDTO">
        SELECT
            member_code,
            member_id,
            member_birth,
            member_status,
            member_Authority,
            is_deleted

        FROM tbl_member

        ORDER BY
            member_code ASC
            LIMIT #{offset}, #{limit}


    </select>

    <select id="selectOneMember" resultType="com._3dhs.tnproject.member.dto.MemberDTO">
        SELECT
            member_code,
            member_id,
            member_birth,
            member_status,
            member_Authority,
            is_deleted

        FROM tbl_member

        WHERE member_code = #{ memberCode }
    </select>


</mapper>