<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로필 수정</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/member/regist.css">
</head>
<body>
<header>
    <div th:replace="~{common/profile.html}"></div>
    <nav th:replace="~{common/navigation.html}"></nav>
</header>
<aside>
    <div class="folder">
        <strong class="minTit">폴더</strong>
        <ul>
            <li class="AllList"><a href="#"><img src="/images/icon_folder.png" alt="아이콘">전체목록(<span>56</span>)</a></li>
            <th:block th:object="${folderList}" th:each="folder, start : ${folderList}">
                <li th:classappend="${folder.folderName == 'NoName'} ? 'hidden'" draggable="true"><input type="hidden" th:value="${folder.folderCode}"/><img th:src="${folder.folderIconPath}" alt="폴더 아이콘"> <span th:text="${folder.folderName}"></span></li>
            </th:block>
        </ul>
        <button class="folderSetBtn" onClick="location.href='/post/folder_edit'"><img src="/images/icon_folder_setting.png" alt="폴더 편집 버튼"></button>
    </div>
</aside>
<main>
    <div class="title">
        <button class="backBtn" onclick="goBack()">
            <img src="/images/btn_arrow.png" alt="뒤로가기 버튼">
        </button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <div>
            <h1>프로필 수정</h1>
        </div>
    </div>
    <section> <!-- 각자 개인 페이지들을 section 태그 안에 작성하세요. -->
        <form action="/member/profile" method="post" enctype="multipart/form-data">
        <div class="mainProfile">
            <div class="mprofBackground">
                <img id="profileBgPreview" th:src="${#authentication.principal.profile.profileBgPath}"
                     alt="사용자 설정 프로필 배경화면 사진">
            </div>
            <div class="mprofStatus" style="display: flex;">
                <div class="button-container">
                    <label for="profileImage">
                        <input type="file" id="profileImage" name="profileImage"
                               style="display: none" accept="image/*" onchange="displayImage('profileImage', 'profileImagePreview');">
                        <input type="button" value="프로필 사진 변경" onclick="document.getElementById('profileImage').click();">
                    </label>
                    <label for="profileBg">
                        <input type="file" id="profileBg" name="profileBg"
                               style="display: none" accept="image/*" onchange="displayImage('profileBg', 'profileBgPreview')">
                        <input type="button" value="배경 사진 변경" onclick="document.getElementById('profileBg').click();">
                    </label>
                </div>
                <button class="optionBtn" style="display: none">
                    <img src="/images/icon_option.png" alt="프로필 옵션 버튼"></button>
                <ul class="optionBox">
<!--                    <li><a>사용자 차단하기</a></li>-->
<!--                    <li><a>블로그 공유하기</a></li>-->
                </ul>
                <div class="prof_photo"><img id="profileImagePreview" th:src="${#authentication.principal.profile.profileImgPath}"
                                             alt="프로필 사진"></div>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="updateNickname" class="label">닉네임</label>
                <input class="inputs" type="text" name="updateNickname" id="updateNickname" placeholder="닉네임">
            </div>
            <div class="form-group">
                <label for="updateMessage" class="label">상태메시지</label>
                <input class="inputs" type="text" name="updateMessage" id="updateMessage" placeholder="상태메시지">
            </div>
            <div class="form-group">
                <input class="saveBtn" type="submit" value="프로필 저장">
            </div>
        </div>
        </form>
        <script src="/js/scrollEvent.js"></script>
        <script src="/js/blogMain.js"></script>
        <script src="/js/pathFinder.js"></script>
    </section>

    <!-- 이미지 선택 시 미리보기 -->
    <script>
        function displayImage(inputId, imgId) {
            const $input = document.getElementById(inputId);
            const $img = document.getElementById(imgId);
            if ($input.files && $input.files[0]) {
                const $reader = new FileReader();
                $reader.onload = function (e) {
                    $img.src = e.target.result;
                }
                $reader.readAsDataURL($input.files[0]);
            }
        }
    </script>
</main>
</body>
</html>