<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원정보</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/member/login.css">
    <link rel="stylesheet" href="/css/member/regist.css">
    <link rel="stylesheet" href="/css/member/update.css">
    <script type="text/javascript" src="/js/memberEvent.js"></script>
</head>
<body>
<header>
    <div th:replace="~{common/profile.html}"></div>
    <nav th:replace="~{common/navigation.html}"></nav>
</header>
<main>
    <div class="title">
        <button class="backBtn" onclick="goBack()">
            <img src="/images/btn_arrow.png" alt="뒤로가기 버튼">
        </button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <div>
            <h1>회원정보</h1>
        </div>
    </div>
    <form method="post" action="/member/update">
        <div class="form-group" id="id_input">
            <label class="label">아이디</label>
            <span th:text="${ #authentication.principal.memberId }"></span>
        </div>
        <div class="form-group">
            <label class="label">성별</label>
            <span th:text="${#authentication.principal.memberGender}" id="genderParagraph"></span>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const $genderParagraph = document.querySelector("#genderParagraph");

                    /* DB에서 MALE 값이면 화면에서 남자, FEMALE이면 여자 출력 */
                    if ($genderParagraph.textContent === 'MALE') {
                        $genderParagraph.textContent = '남자';
                    } else {
                        $genderParagraph.textContent = '여자';
                    }
                });
            </script>
            <select id="genderInput" class="hidden" name="memberGender">
                <option th:value="${T(com._3dhs.tnproject.member.model.MemberGender).MALE}">남자</option>
                <option th:value="${T(com._3dhs.tnproject.member.model.MemberGender).FEMALE}">여자</option>
            </select>
        </div>
        <div class="form-group">
            <label class="label">나이</label>
            <span th:text="${ #authentication.principal.memberAge }" id="ageParagraph"></span>
            <input type="number" id="ageInput" class="hidden" name="memberAge" min="0" max="100" required>
        </div>
        <div class="form-group">
            <label class="label">생일</label>
            <span th:text="${ #authentication.principal.memberBirth }" id="birthParagraph"></span>
            <input type="date" id="birthInput" class="hidden" name="memberBirth" required>
        </div>
        <div class="button-group">
            <input type="button" value="정보수정" id="updateMemberBtn" class="registBtn">
            <input type="button" value="탈퇴하기" id="deleteMember" class="blackBtn">
        </div>
        <div class="btnWrapper">
<!--            <div><input type="button" id="modifyPwd" value="비밀번호 재설정" class="hidden"></div>-->
            <div class="button-group">
                <input type="submit" value="수정완료" id="submitUpdateMember" class="hidden registBtn" >
                <input type="button" value="취소" id="cancelBtn" class="hidden blackBtn">
            </div>
        </div>
    </form>
</main>

</body>
</html>