<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Detail Page</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/modal.css">
<!--    <link rel="stylesheet" href="/css/member/regist.css">-->
    <script src="/js/modalEvent.js"></script>
    <script src="/js/commentsEvent.js"></script>
</head>
<body>
<div class="wrap">
    <header>
        <div th:replace="~{common/profile.html}"></div>
        <nav th:replace="~{common/navigation.html}"></nav>
    </header>
    <aside>
        <div th:replace="~{common/folder.html}"></div>
    </aside>
    <main>
        <form class="title" id="title" action="/search/result" method="post">
            <button class="backBtn" type="button" id="backBtn"><img src="/images/btn_arrow.png" alt="뒤로가기 버튼"></button>
            <div>
                <h1>Timeline - main</h1>
                <p><span th:text="${today}"></span></p>
            </div>
            <input class="search_input" id="search_input" name="searchValue" type="text" placeholder="검색어를 입력하세요">
            <button class="searchBtn" id="searchBtn" type="button"><img src="/images/btn_search.png" alt="검색 버튼">
            </button>
            <button class="closeBtn" id="closeBtn" type="button"><img src="/images/btn_close.png" alt="닫기 버튼"></button>
        </form>

        <section> <!-- 각자 개인 페이지들을 section 태그 안에 작성하세요. -->
            <ul class="blogList snsList detail">
                <li>
                    <div class="list_head">
                        <div class="prof_photo">
                            <img th:src="${postDetail.profile.profileImgPath}"
                                 alt="프로필 사진">
                        </div>
                        <div>
                            <div>
                                <strong class="blog_user_name" th:text="${postDetail.profile.profileNickname}"></strong>
                                <span class="blog_user_birth"
                                      th:text="${#temporals.format(postDetail.postWriDate, 'MM월 dd일')}"></span>
                            </div>
                            <span class="status_msg" th:text="${postDetail.profile.profileStatmsg}"></span>
                        </div>
                        <button class="optionBtn"><img src="/images/icon_option.png" alt="글 옵션 버튼"></button>
                        <ul class="optionBox">
                            <li><a>삭제하기</a></li>
                            <li><a>수정하기</a></li>
                        </ul>
                    </div>
                    <div class="list_body">
                        <div>
                            <strong class="contentTit" th:text="${postDetail.postTitle}"></strong>
                            <p th:utext="${postDetail.postText}"></p>
                            <br>
                            <img th:src="${postDetail.thumbnailPath}"
                                 alt="썸네일 이미지">
                        </div>
                        <div class="tagList">
                            <a th:each="tag : ${postDetail.tagList}" href="#" th:text="'#' + ${tag.tagName} "> </a>
                        </div>
                        <div class="showLikeAndComments">
                            <button class="commentsBtn" onclick="loadCommentModal()">
                                <img src="/images/icon_comment.png" alt="댓글 버튼 아이콘">
                                <span th:text="${postDetail.cmtCount}"></span>
                            </button>
                            <div id="commentModal" class="modal">
                                <div class="modal-content">
                                    <span class="close" onclick="hideModal()">&times;</span>
                                    <h2>댓글 창</h2>
                                    <div class="form-group">
                                        <input type="text" id="cmtText" placeholder="댓글 추가">
                                        <button type="button" id="writeComments" class="blackBtn">확인</button>
                                    </div>
                                    <ul id="commentsList">
                                        <li th:each="comments : ${comments}">
                                            <input type="hidden" class="comment-code" th:value="${comments.cmtCode}"/>
                                            <div class="content-group">
                                                <div>
                                                    <img th:if="${comments.profile != null}"
                                                         th:src="${comments.profile.profileImgPath}"/>
                                                </div>
                                                <div>
                                                    <span th:text="${comments.profile.profileNickname}"></span>
                                                </div>
                                                <span th:text="${#temporals.format(comments.cmtWriDate, 'MM월 dd일')}"></span>
                                            </div>
                                            <div>
                                                <br><span class="cmtContent" th:text="${comments.cmtText}"></span>
                                            </div>
                                            <!--                                                <input type="button" value="답글">-->
                                            <div class="button-container">
                                                <input th:if="${comments.memberCode == #authentication.principal.memberCode}"
                                                       type="button" class="modifyComments" value="수정">
                                                <input th:if="${comments.memberCode == #authentication.principal.memberCode}"
                                                       type="button" class="deleteComments" value="삭제" id="blackBtn">
                                                <input th:if="${comments.memberCode != #authentication.principal.memberCode}"
                                                       type="button" value="차단" class="blockBtn">
                                                <!--                                                <input th:if="${comments.memberCode != #authentication.principal.memberCode}"-->
                                                <!--                                                       type="button" value="신고">-->
                                            </div>
                                        </li>
                                    </ul>
                                    <div>
                                        <input type="hidden" class="postCode" th:value="${postCode}"/>
                                        <input type="hidden" id="memberCode" th:value="${memberCode}"/>
                                    </div>
                                </div>
                            </div>
                            <button class="likeBtn" th:class="${postDetail.isLiked} ? 'likeBtn active' : 'likeBtn'"
                                    th:data-post-code="${postDetail.postCode}">
                                <img src="/images/icon_like.png" alt="좋아요 버튼 아이콘">
                                <span th:text="${postDetail.likeCount}" class="likeCount"></span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </main>
<script>
    //TODO 폴더기능 추가 안됨 (김다솔)
    document.addEventListener("DOMContentLoaded", function (event) {
        // 화면이 모두 로드되고 파싱된 후에 실행될 스크립트
        like();
    });
</script>
</div>
<script src="/js/pathFinder.js"></script>
<script src="/js/like.js"></script>
<script src="/js/commentsEvent.js"></script>
</body>
</html>