<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Write Page</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/post.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--    <script src="/js/write.js"></script>-->
</head>
<body>
<div class="wrap">
    <header>
        <div th:replace="~{common/profile.html}"></div>
        <nav th:replace="~{common/navigation.html}"></nav>
    </header>
    <aside>
        <div class="folder">
            <strong class="minTit">폴더</strong>
            <ul>
                <li class="AllList"><a href="#"><img src="/images/icon_folder.png" alt="아이콘">전체목록(<span
                        th:text="${postView.postCount}">56</span>)</a></li>
                <th:block th:object="${folderList}" th:each="folder, start : ${folderList}">
                    <li th:classappend="${folder.folderName == 'NoName'} ? 'hidden'" draggable="true">
                        <input type="hidden" th:value="${folder.folderCode}"/>
                        <img th:src="${folder.folderIconPath}" alt="폴더 아이콘">
                        <span th:text="${folder.folderName}"></span>
                    </li>
                </th:block>
            </ul>
            <button class="folderSetBtn" onClick="location.href='/post/folder_edit'">
                <img src="/images/icon_folder_setting.png" alt="폴더 편집 버튼">
            </button>
        </div>
    </aside>
    <main>
        <div class="title">
            <button class="backBtn"><img src="/images/btn_arrow.png" alt="뒤로가기 버튼"></button>
            <div>
                <h1>글 작성</h1>
            </div>
            <input class="search_input" type="text" placeholder="검색어를 입력하세요">
            <button class="searchBtn"><img src="/images/btn_search.png" alt="검색 버튼"></button>
            <button class="closeBtn"><img src="/images/btn_close.png" alt="닫기 버튼"></button>
            <div class="btnWrap">
                <button class="btn gray">임시저장 | <a href="/post/temporary_storage/list">2</a></button>
                <button id="작성완료버튼" class="btn">작성완료</button>
            </div>
        </div>
        <section> <!-- 각자 개인 페이지들을 section 태그 안에 작성하세요. -->

            <form action="">
                <input type="text" class="post_tit" placeholder="제목을 입력해주세요.">
                <!--                <textarea id="editorTxt" class="post_content" name="editorTxt" cols="30" rows="10"-->
                <!--                          placeholder="내용을 입력해주세요."></textarea>-->
                <div id="editorTxt" style="height:400px">

                </div>
                <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
                <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
                <script>
                    // Quill 에디터 초기화
                    var quill = new Quill('#editorTxt', {
                        theme: 'snow', // 에디터 테마 설정
                        placeholder: '내용을 입력해주세요.'
                    });

                    // 사용자 입력 내용 가져오기 예시
                    function getUserInput() {
                        var content = quill.root.innerHTML; // 에디터 내용을 HTML 형태로 가져옴
                        console.log(content); // 콘솔에 내용 출력
                    }

                    // 예를 들어, 내용을 가져오는 버튼을 클릭할 때 getUserInput 함수를 호출
                    document.querySelector('#작성완료버튼').addEventListener('click', getUserInput);
                </script>
                <dl class="post_setting">
                    <dt>폴더 선택</dt>
                    <dd>
                        <select name="">
                            <option value="">폴더명 1</option>
                        </select>
                    </dd>
                    <dt>태그 설정</dt>
                    <dd>
                        <textarea name="" cols="30" rows="10" placeholder="#태그를 입력해주세요."></textarea>
                    </dd>
                    <dt>
                        공개 설정
                    </dt>
                    <dd>
                        <label><input type="radio" name="publicStatus" checked/>공개</label>
                        <label><input type="radio" name="publicStatus"/>비공개</label>
                    </dd>
                    <dt>유료 설정</dt>
                    <dd>
                        <label><input type="radio" name="payStatus" checked/>무료글 포스팅</label>
                        <label><input type="radio" name="payStatus"/>유료글 포스팅</label>
                    </dd>
                </dl>
            </form>
        </section>
    </main>
</div>
<script src="/js/pathFinder.js"></script>
</body>
</html>