<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>구매내역</title>
    <link rel="stylesheet" href="/css/common.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
</head>
<body>
<div class="wrap">

    <header>
        <div th:replace="~{common/profile.html}"></div>
        <nav th:replace="~{common/navigation.html}"></nav>
    </header>

    <main>


        <form class="title">
            <button class="backBtn"><img src="/images/btn_arrow.png" alt="뒤로가기 버튼"></button>
            <div>
                <h1>닉네임</h1>
                <p><span>0000</span>게시물</p>
            </div>
        </form>

        <section id="purchaseList">



        </section>

    </main>


</div>

<script>

    $(document).ready(function() {
        loadPurchaseList();
    });

    function loadPurchaseList() {
        $.ajax({
            url: "/purchase/data",
            type: "GET",
            dataType: "json",
            success: function(data) {
                console.log("전달받은 데이터", data);
                $("#purchaseListSection").html(data);
                var purchaseList = data;
                var purchaseHtml = "<ul>";

                for (var i=0; i<purchaseList.length; i++) {
                    purchaseHtml += "<li>" + purchaseList[i] + "</li>";
                }
                purchaseHtml += "</ul>";
                $("#purchaseList").html(purchaseHtml);

            },
            error: function() {
                alert("구매 내역을 가져오는 데 실패했습니다.");
            }
        });
    }

</script>


</body>
</html>