<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>PurchasePage</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/purchase.css">
</head>
<body>

<div class="wrap">

    <header>
        <div th:replace="~{common/profile.html}"></div>
        <nav th:replace="~{common/navigation.html}"></nav>
    </header>

    <main>



        <div class="title">
            <button class="backBtn"><img src="/images/btn_arrow.png" alt="뒤로가기 버튼"></button>
            <div>
                <h1>닉네임</h1>
                <p><span>0000</span>게시물</p>
            </div>
        </div>

        <section>

            <div class="purchasePage">
                <p>구매하지 않은 유료글입니다. 구매하시겠습니까?</p>
                <button th:data-post-code="${postCode}" class="purchaseBtn" onclick="handlePurchaseBtn()">확인</button>
            </div>

            <script src="/js/purchasePost.js"></script>

        </section>

    </main>

</div>
<script src="/js/pathFinder.js"></script>
</body>
</html>