<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결제 성공</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/payment.css">
</head>
<body>
    <div class="wrap">

        <header>
            <div th:replace="~{common/profile.html}"></div>
            <nav th:replace="~{common/navigation.html}"></nav>
        </header>

        <main>


            <div class="title">
                <button class="backBtn"><img src="/images/btn_arrow.png" alt="뒤로가기 버튼"></button>
                <div>
                    <h1>닉네임</h1>
                    <p><span>0000</span>게시물</p>
                </div>
            </div>

            <section>

                <div class="paymentSuccessMsg">
                    <h5>결제가 완료되었습니다.</h5>
                    <h5>현재 보유한 티슈 : <span th:text="${member.haveTissue}"></span> 개</h5>
                </div>

            </section>

        </main>


    </div>

</body>
</html>