<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>payment</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/payment.css">
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>

</head>

<body>
<script>
    memberId = `[[${loginUserId}]]`;

    function requestPay(tissuePrice) {

        var IMP = window.IMP;
        IMP.init("imp74535646");

        IMP.request_pay({
            pg: "html5_inicis",
            pay_method: "card",
            merchant_uid: "payment" + new Date().getTime(),
            name: "티슈" + tissuePrice + "개",
            amount: tissuePrice,
            buyer_email: memberId,
            buyer_name: '프로필닉네임',
        }, function (rsp) {
            console.log(rsp);
            if (rsp.success) {
                jQuery.ajax({
                    url: "/paymentSuccess",
                    method: "POST",
                    data: {
                        imp_uid: rsp.imp_uid,            // 결제 고유번호
                        merchant_uid: rsp.merchant_uid,  // 주문번호
                        buyer_name: rsp.buyer_name,
                        tissuePrice: tissuePrice,
                    },
                    success : () => {
                        alert("성공");
                        location.href = "/payment/payment_success";
                    }
                })
            } else {
                alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
            }
        })
    }

</script>
<div class="wrap">

    <header>
        <div th:replace="~{common/profile.html}"></div>
        <nav th:replace="~{common/navigation.html}"></nav>
    </header>

    <main>


        <div class="title">
            <button class="backBtn"><img src="/images/btn_arrow.png" alt="뒤로가기 버튼"></button>
            <div>
                <h1>닉네임</h1>
                <p><span>0000</span>게시물</p>
            </div>
        </div>

        <section>

            <div class="haveTissueWrapper">
                <p>현재 보유한 티슈</p>
                <h5><span th:text="${member.haveTissue}"></span> 개</h5>
            </div>

            <div class="paymentBtnWrapper">

                <button class="paymentBtn" onclick="requestPay(1000)">1000원</button>
                <button class="paymentBtn" onclick="requestPay(5000)">5000원</button>
                <button class="paymentBtn" onclick="requestPay(10000)">10000원</button>
                <button class="paymentBtn" onclick="requestPay(30000)">30000원</button>
                <button class="paymentBtn" onclick="requestPay(50000)">50000원</button>

            </div>

        </section>

    </main>


</div>


</body>
</html>