<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> 신고 상세 </title>
    <div style="margin-top:100px">
        <h1> 신고 상세 </h1>
        <div>
            <table style="margin:auto">
            <tr>

                <td><p th:text="${ reportList.reportCode}"></p> 신고 번호</td>
                <td> <p th:text="${ board.reportTarget}"></p>신고 대상</td>
                <td> <p th:text="${ board.reportCategory}"></p>신고 구분</td>
                <td colspan="3"><textarea name="reportBody" cols="60" rows="20" style="resize:none;"
                                          readonly th:text="${ board.reportBody}"></textarea>신고 내용</td>
                <td><p th:text="${ board.repoter }"></p>작성자</td>


            </tr>
            </table>
        </div>

    </div>
</head>
<body>

</body>
</html>