<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/memberDetail.css">
    <script>

        function memStop() {
            const $memberStop =  document.getElementById("memberDetail");
            $memberStop.action = '/manager/member/memStop';
            $memberStop.submit();
        }

        function memActivate() {

            const $memActive = document.getElementById("memberDetail");
            $memActive.action = '/manager/member/memActive'
            $memActive.submit();
        }

    </script>

</head>
<body>
<div class="wrap">
    <header>
        <div th:replace="~{common/profile.html}"></div>
        <nav th:replace="~{common/navigation.html}"></nav>
    </header>

    <main>
        <form class="title">
            <button class="backBtn" type="button"><a href="/manager/member/list"><img src="/images/btn_arrow.png" alt="뒤로가기 버튼"></a></button>
            <div>
                <h1>회원 상세 보기 </h1>
            </div>
            <!--            <input class="search_input" type="text" placeholder="검색어를 입력하세요">-->
            <!--            <button class="searchBtn"><img src="/image/btn_search.png" alt="검색 버튼"></button>-->
            <!--            <button class="closeBtn"><img src="/image/btn_close.png" alt="닫기 버튼"></button>-->
        </form> <br><br>
        <section> <!-- 각자 개인 페이지들을 section 태그 안에 작성하세요. -->
            <form id="memberDetail" method="post">
                <label>회원 코드  <b><input name="reportCode" th:value="${oneMember.memberCode}"disabled></b></label> <br><br>
                <label>회원 아이디 <b> <input type="text" th:value='${oneMember.memberId}'disabled></b></label> <br><br>
                <label>회원 생년월일<b>  <input type="text" th:value='${oneMember.memberBirth}'disabled></b></label> <br><br>
                <label>계정 상태<b> <input type="text"  th:value='${oneMember.memberStatus}'disabled></b></label> <br><br>
                <label>계정 등급 <b> <input type="text"  th:value='${oneMember.memberAuthority}'disabled></b></label> <br><br>
                <label>계정 삭제 여부 <b> <input type="text"  th:value='${oneMember.isDeleted}'disabled></b></label> <br><br>
                <input type="hidden" name="memberId" th:value="${oneMember.memberId}">
                <!-- form 마다 서브밋이 있어야 한다 -->
                <!--            </form>-->


                <br><br>
                <!--            <form class="reportBtn" action="/">-- css 문재 해결 방안 찾아보기 -->
                <a href="#"><button type="button" onclick="memStop();" class="btn skyblue">계정 정지</button></a>
                <a href="#"><button type='button' onclick="memActivate();" class="btn skyblue">계정 정지 해제</button></a>

            </form>




        </section>
    </main>
</div>
<script src="/js/pathFinder.js"></script>
</body>
</html>