<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div class="wrap">
    <header>
        <div th:replace="~{common/profile.html}"></div>
        <nav th:replace="~{common/navigation.html}"></nav>
    </header>
    <aside>
        <div class="folder">
            <strong class="minTit">폴더</strong>
            <ul>
                <li class="AllList"><a href="#"><img src="/image/icon_folder.png" alt="아이콘">전체목록(<span>56</span>)</a>
                </li>
                <li><a href="#"><img src="/image/icon_folder.png" alt="아이콘">폴더1의 폴더명</a></li>
                <li><a href="#"><img src="/image/icon_folder.png" alt="아이콘">폴더2의 폴더명</a></li>
                <li><a href="#"><img src="/image/icon_folder.png" alt="아이콘">폴더3의 폴더명</a></li>
                <li><a href="#"><img src="/image/icon_folder.png" alt="아이콘">폴더4의 폴더명</a></li>
                <li><a href="#"><img src="/image/icon_folder.png" alt="아이콘">폴더5의 폴더명</a></li>
                <li><a href="#"><img src="/image/icon_folder.png" alt="아이콘">폴더6의 폴더명</a></li>
                <li><a href="#"><img src="/image/icon_folder.png" alt="아이콘">폴더7의 폴더명</a></li>
                <li><a href="#"><img src="/image/icon_folder.png" alt="아이콘">폴더8의 폴더명</a></li>
                <li><a href="#"><img src="/image/icon_folder.png" alt="아이콘">폴더9의 폴더명</a></li>
                <li><a href="#"><img src="/image/icon_folder.png" alt="아이콘">폴더10의 폴더명</a></li>
            </ul>
            <button class="folderSetBtn"><img src="/image/icon_folder_setting.png" alt="폴더 편집 버튼"></button>
        </div>
    </aside>
    <main>
        <form class="title">
            <button class="backBtn" type="button"><a href="/timeline/list"><img src="/image/btn_arrow.png" alt="뒤로가기 버튼"></a></button>
            <div>
                <h1>회원 목록</h1>
            </div>
            <input class="search_input" type="text" placeholder="검색어를 입력하세요">
            <button class="searchBtn"><img src="/image/btn_search.png" alt="검색 버튼"></button>
            <button class="closeBtn"><img src="/image/btn_close.png" alt="닫기 버튼"></button>
        </form>
        <section> <!-- 각자 개인 페이지들을 section 태그 안에 작성하세요. -->

            <table id="memberList" style="text-align:center">
                <tr>
                    <th> 유저 번호</th>
                    <th> 유저 ID</th>
                    <th> 유저 생년월일 </th>
                    <th> 계정 상태 </th>
                    <th> 계정 등급 </th>
                    <th> 계정 삭제 여부 </th>
                </tr>

                <tr th:each=" memberDTO: ${members}"
                    th:onclick="|location.href='/manager/member/detail?memberCode=${memberDTO.memberCode}'|">
                    <td th:text="${ memberDTO.memberCode }"></td>
                    <td th:text="${ memberDTO.memberId}"></td>
                    <td th:text="${ memberDTO.memberBirth}"></td>
                    <td th:text="${ memberDTO.memberStatus}"></td>
                    <td th:text="${ memberDTO.memberAuthority}"></td>
                    <td th:text="${ memberDTO.isDeleted}"></td>
                </tr>


            </table>

            <!--페이징-->
            <div id="paging" class="paging">
                <!-- 맨 앞으로 이동 -->
                <button class="pagingFrontBtn arrowBtn"><img src="/image/icon_paging_arrow_front.png" alt="맨 앞으로 이동 버튼">
                </button>
                <!-- 이전 페이지로 이동 -->
                <button class="pagingFrontBtn arrowBtn" disabled="disabled"><img
                        src="/image/icon_paging_arrow_front.png" alt="이전 목록으로 이동 버튼"></button>

                <!-- 숫자 버튼 -->
                <button class="pagingNumBtn" disabled="disabled">1</button>
                <button class="pagingNumBtn">2</button>
                <button class="pagingNumBtn">3</button>
                <button class="pagingNumBtn">4</button>
                <button class="pagingNumBtn">5</button>

                <!-- 다음 페이지로 이동 -->
                <button class="pagingBackBtn arrowBtn"><img src="/image/icon_paging_arrow_back.png" alt="다음 목록으로 이동 버튼">
                </button>
                <!-- 맨 끝으로 이동 -->
                <button class="pagingBackBtn arrowBtn"><img src="/image/icon_paging_arrow_back.png" alt="맨 뒤로 이동 버튼">
                </button>
            </div>
            <br><br>

            <div id="searchBar">
                <select name="">
                    <option value="1">포스팅 번호</option>
                    <option value="2">댓글 번호</option>
                    <option value="3">관리자 번호</option>
                    <option value="4">처리 상태</option>
                </select><br><br>
                <input class="search_input" type="text" placeholder="검색어를 입력하세요">
                <button class="searchBtn"><img src="/image/btn_search.png" alt="검색 버튼"></button>
                <button class="closeBtn"><img src="/image/btn_close.png" alt="닫기 버튼"></button>
            </div>

        </section>
    </main>
</div>
<script src="/js/pathFinder.js"></script>
</body>
</html>