<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admindetail.css">
    <script>

        function memStop() {
            const $memberStop =  document.getElementById("adminDetail");
            $memberStop.action = '/manager/admin/memStop';
            $memberStop.submit();
        }

        function memActivate() {

            const $memActive = document.getElementById("adminDetail");
            $memActive.action = '/manager/admin/memActive'
            $memActive.submit();
        }

    </script>
</head>
<body>
<div class="wrap">
    <header>
        <div th:replace="~{common/profile.html}"></div>
        <nav th:replace="~{common/navigation.html}"></nav>
    </header>

    <main>
        <form class="title">
            <button class="backBtn" type="button"> <a href="/manager/admin/list"><img src="/images/btn_arrow.png" alt="뒤로가기 버튼"></a></button>
            <div>
                <h1>관리 기록 상세</h1>
            </div>
            <!--            <input class="search_input" type="text" placeholder="검색어를 입력하세요">-->
            <!--            <button class="searchBtn"><img src="/image/btn_search.png" alt="검색 버튼"></button>-->
            <!--            <button class="closeBtn"><img src="/image/btn_close.png" alt="닫기 버튼"></button>-->
        </form> <br><br>
        <section> <!-- 각자 개인 페이지들을 section 태그 안에 작성하세요. -->
            <form id="adminDetail" method="post">
                <label>신고 번호 <b><input name="reportCode" th:value='${admDet.reportCode}' disabled></b></label> <br><br>
                <label>매니저 코드 <b><input name="managerCode" th:value='${admDet.managerCode}' disabled></b></label> <br><br>
                <label>신고 구분  <b><input th:value='${admDet.RCategoryName}' disabled></b></label> <br><br>
                <label>신고 내역 <b> <input th:value='${admDet.reportText}' disabled></b></label> <br><br>
                <label>신고 날짜<b> <input  th:value='${admDet.reportDate}' disabled></b></label> <br><br>
                <label>신고 대상 유저  <b><input th:value='${admDet.memberId}' disabled></b></label> <br><br>
                <label>신고 상태 <b> <input th:value='${admDet.reportStatus}' disabled></b></label> <br><br>
                <label>처리 날짜 <b> <input th:value='${admDet.processingDate}' disabled></b></label> <br><br>
                <label>처리 기록 <b> <input th:value='${admDet.processingText}' disabled></b></label> <br><br>
                <input type="hidden" name="memberId" th:value="${admDet.memberId}">



                <br><br>
                <!--            <form class="reportBtn" action="/">-- css 문재 해결 방안 찾아보기 -->
                <a href="#"><button type="button" onclick="memStop();" class="btn skyblue">계정 정지</button></a>
                <a href="#"><button type='button' onclick="memActivate();" class="btn skyblue">계정 정지 해제</button></a>

            </form>

    </section>
  </main>
</div>
<script src="/js/pathFinder.js"></script>
</body>

</html>